<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaximKarpin</title>
</head>
<body>
<main>
 <div class="creat-form">
            <div class="form__card">

                <a href="/login">
                    <button class="form__button">Вход</button>
                 </a>
                 <a href="/register">
                    <button class="form__button">Регистрация</button>
                 </a>
            </div>
 </div>
</main>

</body>
</html>