<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дневник программиста</title>
    <link rel="stylesheet" href="..\static\css\index3.css">
</head>
<body>
    <div class="Button_lesson2">
    <form action="/lesson2">
        <button type="lesson2">Перейти на второй урок</button>
    </form></div>
{% block content %}

{% endblock %}
<form action="/lesson4" >
        <button type="lesson4">Перейти на четвертый урок</button>
    </form>





</body>
</html>