<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\static\css\index.css">
</head>
<body>
    <h1>MaximKarpin</h1>
    <p>Это начало проекта по обучению работы с Flask</p>
    <div>
        <img src="https://worksolutions.ru/uploads/medium_3p_Ez_Q_Uh_Fs48_AH_Kp_JS_Ad_Olkl_Ul_Hr_K_Jrk_Tv_RZS_Cynl_119b0750e8.jpeg" alt="Изображение">

    </div>
    <form action="/lesson2">
        <button type="lesson2">Перейти на второй урок</button>
    </form>

</body>
</html>