<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaximKarpin</title>
    <link rel="stylesheet" href="..\static\css\index2.css">

</head>
<body>

    <divz>
        <form action="/">
        <button type="/">Перейти на первый урок</button>
    </form>
        <h4 class="red">Вы можете перейти на эту страницу со странички первого урока</h4>
        <h1>Привет!</h1>
            <p>Это начало проекта по обучению работы с Flask</p>
        <div>
            <p>Начало сайта</p>
            <img src="https://worksolutions.ru/uploads/medium_3p_Ez_Q_Uh_Fs48_AH_Kp_JS_Ad_Olkl_Ul_Hr_K_Jrk_Tv_RZS_Cynl_119b0750e8.jpeg" alt="Изображение">
        </div>
    </divz>
    <div2>
        <b>Жирный шрифт</b>
    </div2>
    <div3>
        <br><del>Зачеркнутый шрифт</del>
    </div3>
    <div4>
        <br><mark>Желтые слова</mark>
    </div4>
    <div5>
        <br><small>Маленькие буквы</small>
    </div5>
    <div6>
        <br><sub>Вроде еще поменьше</sub>
    </div6>
    <div7>
        <br><sup>Снова маленький, но смещен вверх</sup>
    </div7>
    <div8>
        <p>Все абсолютно все слова с большой буквы</p>
    </div8>
    <div9>
        <p>Этот текст вообще убежал в левую сторону</p>
    </div9>
    <div class="Center">
        <p>По серединке</p>
    </div>
    <div11>
        <p>Как разбежались слова в этом тексте ! ? ! ?</p>
    </div11>
    <div12>
        <p>Тут получилась рамка</p>
    </div12>
    <table aria-describedby="task">
        <caption>Таблица прогресса обучения</caption>
        <thead>
        <tr>
            <th id="n"> </th>
            <th>Основы Flask</th>
            <th>HTML & CSS</th>
            <th>Шаблоны и формы в Flask</th>
            <th>Основы Flask-SQLAlchemy. Работа с базами данных в Flask</th>
            <th>Авторизация в Flask</th>
            <th>Работа с REST API</th>
            <th>Итоговый проект</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="n r1">Процент выполнения темы</td>
                <th id="r1">100%</th>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td headers="n r2">Процент выполнения домашнего задания</td>
                <th id="r2">100%</th>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td headers="n r3">Комментарии к теме</td>
                <th id="r3">Это очень интересно</th>
                <td>Сложно уместить все, но это безумно интересно </td>
                <td>В лекции немного не хватает информации, но ссылка на сайт в начале обучения просто супер</td>
                <td>Это было сложно, но можно</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>
    <divx>
    <form action="/lesson3/st">
        <button type="lesson3/st">Перейти на третий урок урок</button>
    </form>
    </divx>
</body>
</html>