<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaximKarpin</title>
</head>
<body>
<h1>Записи</h1>
     <form action="/create4">

       <button class="form__button">Создать</button>
        <ul class="cards-list">

    <li class="card">
        <a class="cart_link">
            <div class="card__text">
            <h2 class="card__title">{{heading}}</h2>
                <a class="card__title">{{subtitle}}</a>
            <p class="card__subtitle">{{text}}</p>
            </div>
        </a>
    </li>
        </ul>
     </form>


</body>
</html>