<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaximKarpin</title>
</head>
<body>
 <form action="#" method="post" class="creat-form">
            <div class="form__card">

                <div class="form__inputs">
                    <label for="username">
                        <input class="form__input" type="text" name="username" id="username" placeholder="Login" required>
                    </label>
                    <label for="password">
                        <input class="form__input" type="password" name="password" id="password" placeholder="Password" required>
                    </label>
                </div>
                <button class="form__button" type="submit">Login</button>
            </div>
        </form>
</body>
</html>