<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaximKarpin</title>
</head>
<body>
<h1>Записи</h1>
     <form action="/lesson4" method="POST" class="create-form">
         <label for="heading">
       <input class="form__input" type="text" name="heading" id="heading" placeholder="Введите заголовок" required>
         </label>
         <label for="subtitle">
       <input class="form__input" type="text" name="subtitle" id="subtitle" placeholder="Введите подзаголовок" required>
         </label>
       <br><label for="text">
       <input class="form__input" type="text" name="text" id="text" placeholder="Введите запись" required>
         </label>
       <button class="form__button">Создать</button>
     </form>
</body>
</html>