<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaximKarpin</title>
</head>
<body>
<form action="#" method="POST" class="create-form">
         <label for="username">
       <input class="form__input" type="text" name="username" id="username" placeholder="Введите имя пользователя" required>
         </label>
         <label for="email">
       <input class="form__input" type="text" name="email" id="email" placeholder="Введите email" required>
         </label>
       <br><label for="password">
       <input class="form__input" type="password" name="password" id="password" placeholder="Введите пароль" required>
         </label>
       <button class="form__button">Создать</button>
     </form>
</body>
</html>
